<div class="row">
  <div class="col-md-6">
    <mat-form-field appearance="outline">
      <mat-label>Seçiniz</mat-label>
      <mat-select [(value)]="selectedMenu">
        <mat-option *ngFor="let menu of MenuList" [value]="menu">{{menu.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Miktar</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary"(click)="AddBasket()" >Sepete Ekle</button>
  </div>
  <div class="col-md-6">
    <mat-list>
      <mat-list-item *ngFor="let menu of MenuBasket">
        <div mat-line>{{menu.title}}</div>
        <div mat-line>2 adet</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
