table {
  width: 100%;
  .menutypes-btn-column{
    width: 25px;
    padding: 30px;
  }
}

.column-name{
  font-size: 16px !important;
  color: black;
  font-weight: bold;
}
.upper_place{
  margin: 20px;
}
.menu-button-place{
  margin: 20px;
  display: flex;
  justify-content: end;
}
