.order-btn{
  padding: 5px 10px;
background-color: greenyellow;
color: #000;
border-radius: 12px;
}
.order-card-title-bottom{
  position: relative;
  margin: 16px 0;
}
.order-card-title{
display: block;
}
.card-buble{
  background-color: plum;
  border-radius: 12px;
display: inline-block;
padding: 3px;
font-size: 12px;
color: black;
font-weight: bold;
}
.order-viewport{
  height: 80px;
  width: auto;
}
.order-card{
  height: 222px;
}
