<div class="row">
  <div class="col-md-8">
    <div>
      <h2>{{data.tableName}} Bilgileri</h2>
      <mat-divider></mat-divider>
    </div>
    <div class="left-side dialog-content">
      <form [formGroup]="updateTableFormGroup" >
        <mat-form-field appearance="outline">
          <mat-label>Masa Adı</mat-label>
          <input matInput formControlName="tableName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Masa Konumu</mat-label>
          <textarea matInput formControlName="tableLocation"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Masa Konumu</mat-label>
          <input matInput formControlName="capaticty">
        </mat-form-field>
        <button mat-raised-button (click)="onSubmit(updateTableFormGroup.value)" color="primary">Kaydet</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="right-side-title">
      <h2>Masa Ayarları</h2>
      <mat-divider></mat-divider>
    </div>
    <div class="right-side dialog-content">
      <button mat-raised-button color="warn" (click)="onDelete()">Masayı Sil</button>
      <button mat-raised-button color="accent" >Qrcode Oluştur</button>
    </div>
  </div>
</div>
