.order-button-side{
  margin: 20px;
  display: flex;
  justify-content: end;
}
.order-viewport{
  height: 80px;
  width: auto;

}
.order-btn{
  padding: 5px 10px;
background-color: greenyellow;
color: #000;
border-radius: 12px;
}
.order-card{
  height: 200px;
}
.orderListviewport{
  height: 30vw;
}
