.main_title{
font-size: 30px;
}
.upper_place{
  margin: 20px;
}
.menu-button-place{
  margin: 20px;
  display: flex;
  justify-content: end;
}
.backdropBackground {
  background: rgba(0, 0, 0, 0.32);
}
