<mat-nav-list>
  <a mat-list-item routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
    <mat-icon class="material-icons-outlined">dashboard</mat-icon>Dashboard
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/admin/menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
    <mat-icon>restaurant_menu</mat-icon>Menu
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item  routerLink="/admin/order" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
    <mat-icon>draw</mat-icon>Siparişler
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/admin/table" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
    <mat-icon>table_restaurant</mat-icon>Masalar
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
    <mat-icon>logout</mat-icon>Çıkış
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
