<div class="ui left fixed vertical menu">
  <div class="item">
    <img class="ui mini image" src="/assets/logo.jpg">
    <span>Cafe<span class="sidebar-logo-text">Apps</span></span>
  </div>
  <a class="item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}" >Ana Sayfa</a>
  <a class="item" [routerLink]="['/menu']" routerLinkActive="active"[routerLinkActiveOptions]="{ exact : true}">Menü</a>
  <a class="item" [routerLink]="['/table/234']" routerLinkActive="active"[routerLinkActiveOptions]="{ exact : true}">Table</a>
  <a class="item" [routerLink]="['/admin']">Admin Panel</a>
</div>
