<h1 mat-dialog-title>Menü Ekleme</h1>
<div mat-dialog-content>
  <form >
    <mat-form-field appearance="outline"  class="add_menu_input">
      <mat-label>Yiyecek Adı</mat-label>
      <input matInput >
    </mat-form-field>
    <mat-form-field appearance="outline" class="add_menu_input">
      <mat-label>Tür Seçiniz</mat-label>
      <mat-select>
        <mat-option value="one">Sıcak</mat-option>
        <mat-option value="two">Soğuk</mat-option>
        <mat-option value="two">Pasta</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="add_menu_input">
      <mat-label>Açıklama</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="add_menu_input">
      <mat-label>Fiyat</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
