mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mat-dialog-content{
  width: 100%;
}
mat-form-field{
  display: block;
}
.add_menu_btn{
display: flex;
justify-content: end;
margin-right: 1rem;
}
